<% layout('layout') -%>

<div class="container">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group"><input type="text" class="form-control" placeholder="Type" /></div>
            <div class="form-group"><input type="text" class="form-control" placeholder="Days to Complete" /></div>
            <div class="form-group"><input type="text" class="form-control" placeholder="job" /></div>
            <div class="form-group"><input type="text" class="form-control" placeholder="job" /></div>
            <div class="form-group"><input type="text" class="form-control" placeholder="job" /></div>
            <div class="form-group"><input type="text" class="form-control" placeholder="job" /></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
        
        </div>
    </div>
</div>
</div>